@import "../../styles/variables.scss";

.menu {
  .item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;

    .title {
      font-size: 12px;
      font-weight: bold;
      color: $soft-color;
      text-transform: uppercase;
    }

    .listItem {
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 5px;
      border-radius: 5px;

      &:hover {
        background-color: $soft-bg;
      }
    }
  }
}
